  <% unless @answer_eval.nil? %>
    <%= erb :_answer_eval %>
  <% end %>

  <form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="post">
    question: <%= @card.question %><br>
    <input type="text" name="answer">
    <input type="submit" class="cool_button" value="Submit Answer">
  </form>

  <form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="get">
    <input type="submit" class="cool_button" value="Next Card">
  </form>
