<<<<<<< HEAD
<!-- #display form with card question and text area to type answer
#button to submit
#this is post form, where it is checked against the answer in the database

#Redirect to same show_card page with "correct" or "incorrect"
# There will be some sort of variable (@answer) that is in the post logic of this form. If that variable exists, this show_card page will include
# the _answer_eval partial displaying either "Correct" or "Incorrect"

#another form with submit button to click to next card, which redirects to new show_card page OR redirects to stats page when round is finished
 -->

  <% unless @answer_eval.nil? %>
    <%= erb :_answer_eval %>
  <% end %>

  <form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="post">
    question: <%= @card.question %><br>
    <input type="text" name="answer">
    <input type="submit" class="cool_button" value="Submit Answer">
  </form>


  <form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="get">
    <input type="submit" class="cool_button" value="Next Card">
  </form>
=======
<% unless @answer_eval.nil? %>
  <%= erb :_answer_eval %>
<% end %>

<form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="post">
  Question: <%= @card.question %><br>
  <input type="text" name="answer">
  <input type="submit" class="cool_button" value="Submit Answer">
</form>

<form action="#" method="get"> <!-- needs looking into -->
  <input type="submit" class="cool_button" value="Next Card">
</form>
>>>>>>> master


